* {
  margin: 0;
  padding: 0;
  font-size: 100%;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: #eee;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  min-height: calc(100vh - 332px);
}

h1 {
  font-size: 60px;
}

h2 {
  font-size: 36px;
  font-weight: 400;
}
p {
  font-size: 18px;
  font-weight: 400;
}
/* 
Header and nav area  >>>>>>>>>>>>>>>>>>>>>>>>>>*/
.header {
  height: 121px;
  background-color: #cc0033;
}
#top-area {
  height: 76px;
  display: flex;
  padding: 12px 14px;
}

#logo-placeholder {
  float: left;
  background-color: #303030;
  width: 180px;
  height: 50px;
  position: absolute;
  margin-right: 3px;
}

input {
  background: transparent;
  border: none;
}

input[type="text"] {
  flex: 1;
}

/* Makes the magnifying glass center with the input  */
a#anchor-link {
  display: flex;
  cursor: pointer;
}

#svg-img {
  height: 29.58px;
  width: 28.91px;
}

/* Div container for input and searchicon */
#search {
  display: flex;
  align-items: center;
  padding: 0 10px;
  background-color: #a00028;
  width: 540px;
  height: 50px;
  margin: 0 auto;
}

nav.nav {
  height: 45px;
  background-color: #a00028;
}
/*>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>*/

/* hero section w/text   >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */
section.hero-bg {
  height: 394px;
  width: 100%;
  background-image: linear-gradient(
      90deg,
      rgba(0, 0, 0, 0.9),
      rgba(0, 0, 0, 0.2)
    ),
    url("./images/B&W_bg.jpg");
  background-size: cover;
  position: relative;
  background-repeat: no-repeat;
  background-position: 0 81%;
  z-index: -999;
  /* box-shadow: 0px 10px 20px -5px rgba(0, 0, 0, 0.8); */
}
.hero-cont {
  height: 90%;
  width: 100%;
  padding: 30px;
  display: flex;
  justify-content: space-between;
}
.hero-text {
  color: #eee;
  width: 50%;
}
.hero-img > #hero-img {
  height: 320px;
  width: 486px;
}
/*************** main colored boxes area *******************************/

main.color-boxes {
  z-index: 999;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  transform: translate(0, -50px);
  flex-wrap: wrap;
  row-gap: 1rem;
  margin: 0 auto;
  max-width: 1362px;
}

.box {
  /* box-shadow: 0px 10px 20px -5px rgba(0, 0, 0, 0.8); */
  height: 228px;
  /* width: 434px;  old width- forgot to subtract padding and border*/
  width: 394px;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #eee;
  border: 10px solid #fff;
  padding: 10px;
}

#box-0 {
  background-color: #35d3b4;
}
#box-1 {
  background-color: #1b2191;
}
#box-2 {
  background-color: #d822ee;
}
#box-3 {
  background-color: #057bad;
  display: none;
}

/**************Footer with links**********************/

footer.footer {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: #272727;
  height: 312px;
  padding: 0 20px;
}

.footer-links {
  display: flex;
  flex-direction: column;
  color: #eee;
}

div.footer-links a {
  cursor: pointer;
}

h3 {
  font-size: 24px;
}

/***************** Media q's *****************/

@media only screen and (max-width: 1024px) {
  #logo-placeholder {
    position: relative;
  }
  #search {
    margin: 0;
  }
  .hero-img > #hero-img {
    transform: translate(0, 100px);
  }
  .hero-text {
    width: 100%;
  }

  main.color-boxes {
    transform: unset;
    transform: translate(0, 50px);
  }
  footer.footer {
    height: 200px;
    margin-top: auto;
  }
  div.container {
    min-height: calc(100vh - 200px);
  }
}

/* Added this part to make the font scale better when resizing */
/***************************************************/
@media only screen and (max-width: 900px) {
  .hero-img > #hero-img {
    max-width: 100%;
    height: auto;
    transform: translate(0, 125px);
  }

  .hero-cont {
    padding-right: 0;
  }
}
@media only screen and (max-width: 800px) {
  .hero-text p {
    font-size: 14px;
  }
  h1#hero-text-header {
    font-size: 46px;
  }
  .hero-text h2 {
    font-size: 22px;
  }
}
@media only screen and (max-width: 500px) {
  h1#hero-text-header {
    font-size: 44px;
  }

  /* added to keep the boxes from overflowing on footer */
  main.color-boxes {
    padding: 0 20px 100px 20px;
  }
}
/***************************************************/

@media only screen and (max-width: 400px) {
  .hero-cont {
    padding: 20px;
    flex-direction: column;
  }
  .hero-text {
    width: 100%;
    line-height: 1.6;
  }
  section.hero-bg {
    background-position: bottom right;
  }
  .hero-img > #hero-img {
    transform: unset;
  }
}
@media only screen and (max-width: 360px) {
  /* stops logo from resizing */
  #logo-placeholder {
    flex-shrink: 0;
    width: 54px;
    margin-right: 9px;
  }

  /* Remove border on boxes and reset height */
  main.color-boxes > .box {
    border: none;
    height: 51px;
  }
  main.color-boxes {
    transform: translate(0, 57px);
  }
  h2.color-box-text {
    display: none;
  }
  #box-3 {
    display: unset;
  }
  footer.footer {
    height: 275px;
    flex-direction: column;
  }
}
